input[type="number"] {
  border: .08rem lightgrey solid;
  border-radius: .25rem;
  padding: .25rem;

  &:focus {
    outline: none;
    border: 1px lightblue solid;
  }
}

input[type="email"] {
  &:focus {
    outline: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
